footer.footer
    i.fa.fa-phone
    i.fa.fa-envelope-o

    i.fa.fa-facebook
    i.fa.fa-google-plus
    i.fa.fa-twitter
    i.fa.fa-youtube

    i.fa.fa-info-circle
    i.fa.fa-check-circle

    i.fa.fa-user
    i.fa.fa-sign-in
    i.fa.fa-truck

    ul.footer__list
        li
            a(href="#") Link 1
        li
            a(href="#") Link 2